body {
    background:#222222;
    color:#dcdad6;
}

.card {
    background-color: #29303d;
    color: #dcdad6;
}

.badge-secondary {
    background-color: #6c24f1fa;
    color: #ffffff;
}

.badge-warning {
    background-color: #f1953f;
    color: #ffffff;
}

textarea {
    background:#222222;
    color:#dcdad6;
}