{% extends "layout.html" %}
{% block title %}
    Cards
{% endblock %}
{% block bodytitle %}
    CardStack
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <br>
        {% if cards %}
            {% if cards.get("count") > 0 %}
                <div class="card-columns">
                    {% for card in cards.get("events") %}
                        <div class="card">
                            <div class="card-body">
                                <center><h3 class="card-title">{{ card.get("name") }}</h3></center>
                                <hr style="background-color:#000;">
                                <div class="row">
                                    <div class="col-sm-6" style="border-right:1px solid #000;">
                                        <p class="card-text"><h5><span class="fa fa-clock-o"></span>&nbsp{{ card.get("created") }}</h5></p>
                                        <p class="card-text"><h5>Card ID: {{ card.get("event_id") }}</h5></p>
                                        <br>
                                        <div class="form-group">
                                            <a href="/card/{{ card.get('event_id') }}" class="btn btn-primary">Open Card</a>
                                            <a href="/card/{{ card.get('event_id') }}/delete" class="btn btn-primary">Delete Card</a>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        {% if card.get("status_counts") %}
                                            {% for k, v in card.get("status_counts").items() %}
                                                {% if k == "Created" %}
                                                    <h4>{{ k }}: <span class="badge badge-secondary">{{ v }}</span></h4>
                                                {% elif k == "In Progress" %}
                                                    <h4>{{ k }}: <span class="badge badge-primary">{{ v }}</span></h4>
                                                {% elif k == "Paused" %}
                                                    <h4>{{ k }}: <span class="badge badge-warning">{{ v }}</span></h4>
                                                {% elif k == "Complete" %}
                                                    <h4>{{ k }}: <span class="badge badge-success">{{ v }}</span></h4>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="card">
                        <div class="card-body">
                            <form action="/card/new" method="post">
                                <center>
                                    <div class="input-group" style="width:75%">
                                        <input type="text" class="form-control" placeholder="New Card.." name="card_name">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit" name="new_card_submit"><span class="fa fa-plus"></span></button>  
                                        </div>
                                    </div>
                                </center>
                            </form>
                            <hr>
                            <p class="card-text">Create a new card</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card-columns">
                    <div class="card">
                        <div class="card-body">
                            <form action="/card/new" method="post">
                                <center>
                                    <div class="input-group" style="width:75%">
                                        <input type="text" class="form-control" placeholder="New Card.." name="card_name">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit" name="new_card_submit"><span class="fa fa-plus"></span></button>  
                                        </div>
                                    </div>
                                </center>
                            </form>
                            <hr>
                            <p class="card-text">Create a new card</p>
                        </div>
                    </div>
                </div> 
            {% endif %}

        {% else %}
            <h2>Error. Failed to connect to evendex API</h2>
        {% endif %}
        {% if cards %}
            {% if cards.get("count") > 0 %}
                <div class="row">
                    <div class="offset-sm-5">
                        <ul class="pagination">
                            {% if cards.get('pages').get('current') - 1  <= 0 %}
                                <li class="page-item"><a class="page-link" href="/cards/page/1">Previous</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="/cards/page/{{ cards.get('pages').get('current')-1 }}">Previous</a></li>
                            {% endif %}
                            {% for ind in range(0, cards.get("pages").get("max")) %}
                                <li class="page-item"><a class="page-link" href="/cards/page/{{ ind+1 }}">{{ ind+1 }}</a></li>
                            {% endfor %}
                            {% if cards.get('pages').get('current') +1 > cards.get('pages'). get('max') %}
                                <li class="page-item"><a class="page-link" href="/cards/page/{{ cards.get('pages').get('max') }}">Next</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="/cards/page/{{ cards.get('pages').get('current')+1 }}">Next</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}