{% extends "layout.html" %}
{% block title %}
    {% if subcard %}
        SubCard - {{ subcard.get("event").get("content")[0].get("title") }}
    {% else %}
        SubCard - ERROR
    {% endif %}
{% endblock %}

{% block bodytitle %}
    {% if subcard %}
        {{ subcard.get("event").get("content")[0].get("title") }}
    {% else %}
        ERROR
    {% endif %}
{% endblock %}

{% block main %}
    <hr style="background:antiquewhite">
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-5 offset-sm-1">
                        {% if subcard %}
                            {% if subcard.get("event").get("content")[0].get("created") %}
                                <h4><span class="fa fa-clock-o"></span>&nbsp{{ subcard.get("event").get("content")[0].get("created") }}</h4>
                                <br>
                            {% endif %}
                            {% if subcard.get("event").get("content")[0].get("comments") %}
                                <h4>Comments: <span class="badge badge-primary">{{ subcard.get("event").get("content")[0].get("comments")|length }}</span></h4>
                            {% else %}
                                <h4>Comments: <span class="badge badge-primary">0</span></h4>
                            {% endif %}
                            <br>
                            <h4>
                                Status:
                                {% if subcard.get("event").get("content")[0].get("status") == "Created" %}
                                    <span class="badge badge-secondary">
                                        {{ subcard.get("event").get("content")[0].get("status") }}
                                    </span>
                                {% elif subcard.get("event").get("content")[0].get("status") == "In Progress" %}
                                    <span class="badge badge-primary">
                                        {{ subcard.get("event").get("content")[0].get("status") }}
                                    </span>
                                {% elif subcard.get("event").get("content")[0].get("status") == "Paused" %}
                                    <span class="badge badge-warning">
                                        {{ subcard.get("event").get("content")[0].get("status") }}
                                    </span>
                                {% elif subcard.get("event").get("content")[0].get("status") == "Complete" %}
                                    <span class="badge badge-success">
                                        {{ subcard.get("event").get("content")[0].get("status") }}
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger">
                                        Error
                                    </span>
                                {% endif %}
                            </h4>
                        {% else %}
                            ERROR
                        {% endif %}
                        
                    </div>
                    <div class="col-sm-1 offset-sm-2">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-edit"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/card/{{ subcard.get('event').get('event_id') }}/subcard/{{ subcard.get('event').get('content')[0].get('content_id') }}/created">Created</a>
                                <a class="dropdown-item" href="/card/{{ subcard.get('event').get('event_id') }}/subcard/{{ subcard.get('event').get('content')[0].get('content_id') }}/progress">In Progress</a>
                                <a class="dropdown-item" href="/card/{{ subcard.get('event').get('event_id') }}/subcard/{{ subcard.get('event').get('content')[0].get('content_id') }}/pause">Pause</a>
                                <a class="dropdown-item" href="/card/{{ subcard.get('event').get('event_id') }}/subcard/{{ subcard.get('event').get('content')[0].get('content_id') }}/complete">Complete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="background:antiquewhite">
                <div class="row justify-content-around">
                    <div class="col-4">

                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                {% if subcard.get("event").get("content")[0].get("comments") %}
                    {% for comment in subcard.get("event").get("content")[0].get("comments") %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <center><h4><small><span class="fa fa-clock-o"></span> {{ comment.get("created") }}</small></h4></center>
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <button class="btn btn-success" data-toggle="collapse" data-target="#add_label_{{ comment.get('comment_id') }}">
                                                    <span class="fa fa-plus"></span>
                                                </button>
                                            </div>
                                            <div class="col-sm-9 offset-sm-1">
                                                {% if comment.get("labels") %}
                                                    <div class="row">
                                                        {% for label in comment.get("labels")|reverse %}
                                                            <div>
                                                                <form action="/card/{{ subcard.get('event').get('event_id') }}/subcard/{{ subcard.get('event').get('content')[0].get('content_id') }}" method="post">
                                                                    <span class="badge badge-primary">
                                                                        {{ label.get("label") }}
                                                                        <button class="btn btn-primary" type="submit" name="delete_label" value="{{ comment.get('comment_id') }},{{ label.get('label_id') }}">
                                                                            <span class="fa fa-remove"></span>
                                                                        </button>
                                                                    </span>
                                                                </form>
                                                            </div>
                                                            &nbsp&nbsp
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-1">
                                                <form action="/card/{{ subcard.get('event').get('event_id') }}/subcard/{{ subcard.get('event').get('content')[0].get('content_id') }}" method="post">
                                                    <button class="btn btn-danger float-right" type="submit" name="delete_comment" value="{{ comment.get('comment_id') }}">
                                                        <span class="fa fa-remove"></span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <hr style="border-color:white;">
                                        <div class="row">
                                            <div class="col-sm-10 offset-sm-1">
                                                <div id="add_label_{{ comment.get('comment_id') }}" class="collapse">
                                                    <form action="/card/{{ subcard.get('event').get('event_id') }}/subcard/{{ subcard.get('event').get('content')[0].get('content_id') }}" method="post">
                                                        <div class="input-group" style="width:40%">
                                                            <input type="text" class="form-control" placeholder="New Label.." name="new_label_{{ comment.get('comment_id') }}">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="submit" name="create_label" value="{{ comment.get('comment_id') }}"><span class="fa fa-plus"></span></button>  
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <br>
                                                </div>
                                                <div>
                                                    {{comment.get("body")|safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    {% endfor %}
                {% endif %}
                {% if subcard %}
                    <div class="row">
                        <div class="col-sm-11">
                            <form action="/card/{{ subcard.get('event').get('event_id') }}/subcard/{{ subcard.get('event').get('content')[0].get('content_id') }}" method="post">
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" required name="comment_body"></textarea>
                                    <button type="submit" class="btn btn-primary" name="create_comment"><span class="fa fa-plus"></span> Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
